body{
    background-color: #1F2937;
    font-family: sans-serif;

}
.container{
    position: relative;
    max-width: 550px;
    max-height: 550px;
    border: 7px solid white;
    padding:40px 50px 50px 50px;
    border-radius: 10px;
    left: 450px;
    top: 50px;


}
.top h1{
    font-weight:bold;
    font-size:40px;
    line-height: 30px;
}
#topTwo{
    color: #4ADF86;
}
#topOne{
    color: white;
}
.top p{
    color: white;
    font-size: 20px;
}
.top input{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding:10px;
    margin-right: 5px;
    font-weight: 500;
    
}
.top button{
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding:10px;
    font-size: 16px;
    margin-top:20px ;
    margin-bottom:30px;
}
.top button:hover{
    cursor: pointer;
    transform: scale(101%,101%);
}

#line{
    color: #2F3E53;
}
.field{
    display: flex;
}
.box-1{
    width: 50%;
    /* min-height: 15px; */
    padding: 10px;
    background-color: #273549;
    /* box-sizing: border-box; */
    margin: 20px 5px 0 0;
    text-align: center;
    border-radius: 5px;
    font-size:16px;
    font-weight: 600;
    color: #10B981;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#custom-container{
    color: white;
    font-weight:bold;
    display: none;
}